# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
## the cities from WeatherPy

file = pd.read_csv('weathermap_df.csv')

weathermap_df = file
#https://stackoverflow.com/questions/13411544/delete-a-column-from-a-pandas-dataframe
#removing unnamed: 0 column. Not sure why that was there
weathermap_df = weathermap_df.drop(["Unnamed: 0"], axis=1)
weathermap_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cape Town,-33.9258,18.4232,58.37,74,75,6.91,ZA,1661489371
1,Bambous Virieux,-20.3428,57.7575,72.21,83,75,11.50,MU,1661489483
2,Jamestown,42.0970,-79.2353,69.44,88,75,0.00,US,1661489484
3,Saint-Philippe,-21.3585,55.7679,72.99,70,32,11.72,RE,1661489484
4,Bocas del Toro,9.3333,-82.2500,80.69,79,100,2.53,PA,1661489484
...,...,...,...,...,...,...,...,...,...
544,Kunshan,31.3776,120.9543,84.09,71,100,3.76,CN,1661489684
545,Namatanai,-3.6667,152.4333,84.56,67,18,10.02,PG,1661489684
546,Rexburg,43.8260,-111.7897,66.00,38,68,5.19,US,1661489684
547,Coahuayana Viejo,18.7333,-103.6833,78.85,88,99,1.70,MX,1661489685
548,Tamworth,52.6340,-1.6959,53.56,90,70,0.83,GB,1661489685

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
## API day 3 activity 7

locations = weathermap_df[["Lat", "Lng"]]
weight = weathermap_df["Humidity"].astype(float)

figure_layout = {
    'width': '1920px',
    'height': '1080px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout = figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = weight,
                                dissipating=False, max_intensity=10,
                                point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='1080px', margin='0 auto 0 auto', padding='1px', w…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
## using loc and & filter the data based on the instructions

# A max temperature lower than 80 degrees but higher than 70.

#   * Wind speed less than 10 mph.

#   * Zero cloudiness.

#   * Drop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.

weathermap_df_criteria = weathermap_df.loc[(weathermap_df["Max Temp"] < 80) &
                                        (weathermap_df["Max Temp"] > 70) &
                                        (weathermap_df["Wind Speed"] < 10) &
                                        (weathermap_df["Cloudiness"] == 0), :
                                        ]

#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html
weathermap_df_criteria = weathermap_df_criteria.dropna(how = "all")
weathermap_df_criteria

#we know the narrowed dataframe worked because it has less than the 500+ rows than the original dataframe

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
37,Atasū,48.6814,71.6433,71.46,32,0,6.29,KZ,1661489496
79,Erzin,36.9559,36.2000,78.39,69,0,2.62,TR,1661489511
93,Mount Isa,-20.7333,139.5000,78.57,12,0,8.05,AU,1661489517
114,Jūybār,36.6412,52.9124,75.36,35,0,4.07,IR,1661489525
116,Hamilton,39.1834,-84.5333,72.77,84,0,5.75,US,1661489464
176,Bethel,41.3712,-73.4140,75.54,75,0,0.00,US,1661489548
210,Dzaoudzi,-12.7887,45.2699,75.09,83,0,4.61,YT,1661489561
216,Khasan,42.4308,130.6434,74.61,44,0,4.45,RU,1661489563
220,Marietta,33.9526,-84.5499,73.08,94,0,3.00,US,1661489490
224,Morris,40.8334,-74.5329,76.24,75,0,0.00,US,1661489446
226,Ampanihy,-24.7000,44.7500,70.56,46,0,9.69,MG,1661489567
229,Manicoré,-5.8092,-61.3003,76.95,88,0,1.14,BR,1661489568
260,Monmouth,40.3001,-74.1663,78.84,72,0,5.75,US,1661489579
330,Cleveland,41.4995,-81.6954,72.70,80,0,5.75,US,1661489527
334,Mayo,38.8876,-76.5119,78.94,85,0,3.44,US,1661489607
349,Ürümqi,43.8010,87.6005,70.75,31,0,2.24,CN,1661489521
350,Chalmette,29.9427,-89.9634,79.00,84,0,5.75,US,1661489613
358,Hūn,29.1268,15.9477,76.50,57,0,4.09,LY,1661489616
366,Snyder,32.7179,-100.9176,79.14,47,0,5.75,US,1661489568
368,Morinville,53.8001,-113.6520,70.48,63,0,6.91,CA,1661489619
404,Palmer,42.1584,-72.3287,73.81,81,0,0.00,US,1661489632
408,Derzhavīnsk,51.1000,66.3167,73.81,45,0,5.14,KZ,1661489633
432,Charter Township of Clinton,42.5870,-82.9199,73.72,89,0,6.91,US,1661489443
443,Darnah,32.7670,22.6367,76.82,72,0,8.23,LY,1661489646
482,Lodi,38.1302,-121.2725,78.73,57,0,1.99,US,1661489661
494,Marsá Maţrūḩ,31.3525,27.2453,77.45,68,0,3.11,EG,1661489655
497,Tripoli,32.8752,13.1875,78.85,65,0,7.58,LY,1661489666

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
weathermap_df_criteria["Lat"]
#lat is a float value

37     48.6814
79     36.9559
93    -20.7333
114    36.6412
116    39.1834
176    41.3712
210   -12.7887
216    42.4308
220    33.9526
224    40.8334
226   -24.7000
229    -5.8092
260    40.3001
330    41.4995
334    38.8876
349    43.8010
350    29.9427
358    29.1268
366    32.7179
368    53.8001
404    42.1584
408    51.1000
432    42.5870
443    32.7670
482    38.1302
494    31.3525
497    32.8752
Name: Lat, dtype: float64

In [6]:
## store only the columns suggested and add a column for Hotel Name

# Use Google Places API to find the first hotel for each city located within 5,000 meters of your coordinates.

# * Plot the hotels on top of the humidity heatmap, with each pin containing the **Hotel Name**, **City**, and **Country**, as in the following image:

#   ![hotel map](Images/hotel_map.png)


hotel_df = weathermap_df_criteria

# Add a "Hotel Name" column to the DataFrame        
hotel_df["Hotel Name"] = ""

for index, row in hotel_df.iterrows():
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
   ## set params like API Day 3 Activity 4
    params = {
                #convert Lat and Lng to string
                "location": str(row["Lat"]) + "," +str(row["Lng"]),
                # Use Google Places API to find the first hotel for each city located within 5,000 meters of your coordinates.
                "radius": str(5000),
                "keyword": "Hotel",
                "key": g_key
    }
    
    response = requests.get(url, params = params).json()
    #pprint(response)
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except (KeyError, IndexError):
        print(f'No hotel name available in {hotel_df["City"][index]}!')    
        

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
37,Atasū,48.6814,71.6433,71.46,32,0,6.29,KZ,1661489496,Perkalar Otyratyn Zher
79,Erzin,36.9559,36.2000,78.39,69,0,2.62,TR,1661489511,Hattusa Vacation Thermal Club Erzin
93,Mount Isa,-20.7333,139.5000,78.57,12,0,8.05,AU,1661489517,ibis Styles Mt Isa Verona
114,Jūybār,36.6412,52.9124,75.36,35,0,4.07,IR,1661489525,ghazal
116,Hamilton,39.1834,-84.5333,72.77,84,0,5.75,US,1661489464,Graduate Cincinnati
176,Bethel,41.3712,-73.4140,75.54,75,0,0.00,US,1661489548,Hampton Inn Danbury
210,Dzaoudzi,-12.7887,45.2699,75.09,83,0,4.61,YT,1661489561,Hotel Maharajah Mayotte
216,Khasan,42.4308,130.6434,74.61,44,0,4.45,RU,1661489563,Ecology Resort Hotel
220,Marietta,33.9526,-84.5499,73.08,94,0,3.00,US,1661489490,Hilton Atlanta/Marietta Hotel & Conference Center
224,Morris,40.8334,-74.5329,76.24,75,0,0.00,US,1661489446,Hyatt Regency Morristown
226,Ampanihy,-24.7000,44.7500,70.56,46,0,9.69,MG,1661489567,HOTEL SHARRON AMPANIHY OUEST
229,Manicoré,-5.8092,-61.3003,76.95,88,0,1.14,BR,1661489568,Curica Hotel
260,Monmouth,40.3001,-74.1663,78.84,72,0,5.75,US,1661489579,Colts Neck Inn Hotel
330,Cleveland,41.4995,-81.6954,72.70,80,0,5.75,US,1661489527,Hilton Cleveland Downtown
334,Mayo,38.8876,-76.5119,78.94,85,0,3.44,US,1661489607,Pirates Cove Restaurant and Dock Bar
349,Ürümqi,43.8010,87.6005,70.75,31,0,2.24,CN,1661489521,Sheraton Urumqi Hotel
350,Chalmette,29.9427,-89.9634,79.00,84,0,5.75,US,1661489613,Best Western Plus Chalmette Hotel
358,Hūn,29.1268,15.9477,76.50,57,0,4.09,LY,1661489616,Al Nakhel Hotel
366,Snyder,32.7179,-100.9176,79.14,47,0,5.75,US,1661489568,Hampton Inn Snyder
368,Morinville,53.8001,-113.6520,70.48,63,0,6.91,CA,1661489619,Morinville Plaza & Suites
404,Palmer,42.1584,-72.3287,73.81,81,0,0.00,US,1661489632,The Trainmaster's Inn
408,Derzhavīnsk,51.1000,66.3167,73.81,45,0,5.14,KZ,1661489633,Gostinitsa Galaktika
432,Charter Township of Clinton,42.5870,-82.9199,73.72,89,0,6.91,US,1661489443,Hampton Inn Detroit/Roseville
443,Darnah,32.7670,22.6367,76.82,72,0,8.23,LY,1661489646,فندق الفردوس
482,Lodi,38.1302,-121.2725,78.73,57,0,1.99,US,1661489661,Hampton Inn & Suites Lodi
494,Marsá Maţrūḩ,31.3525,27.2453,77.45,68,0,3.11,EG,1661489655,Beau Site
497,Tripoli,32.8752,13.1875,78.85,65,0,7.58,LY,1661489666,Radisson Blu Al Mahary Hotel

In [7]:
#https://datascienceparichay.com/article/pandas-delete-rows-based-on-column-values/
#removes the hotel names that are not available
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
37,Atasū,48.6814,71.6433,71.46,32,0,6.29,KZ,1661489496,Perkalar Otyratyn Zher
79,Erzin,36.9559,36.2000,78.39,69,0,2.62,TR,1661489511,Hattusa Vacation Thermal Club Erzin
93,Mount Isa,-20.7333,139.5000,78.57,12,0,8.05,AU,1661489517,ibis Styles Mt Isa Verona
114,Jūybār,36.6412,52.9124,75.36,35,0,4.07,IR,1661489525,ghazal
116,Hamilton,39.1834,-84.5333,72.77,84,0,5.75,US,1661489464,Graduate Cincinnati
176,Bethel,41.3712,-73.4140,75.54,75,0,0.00,US,1661489548,Hampton Inn Danbury
210,Dzaoudzi,-12.7887,45.2699,75.09,83,0,4.61,YT,1661489561,Hotel Maharajah Mayotte
216,Khasan,42.4308,130.6434,74.61,44,0,4.45,RU,1661489563,Ecology Resort Hotel
220,Marietta,33.9526,-84.5499,73.08,94,0,3.00,US,1661489490,Hilton Atlanta/Marietta Hotel & Conference Center
224,Morris,40.8334,-74.5329,76.24,75,0,0.00,US,1661489446,Hyatt Regency Morristown
226,Ampanihy,-24.7000,44.7500,70.56,46,0,9.69,MG,1661489567,HOTEL SHARRON AMPANIHY OUEST
229,Manicoré,-5.8092,-61.3003,76.95,88,0,1.14,BR,1661489568,Curica Hotel
260,Monmouth,40.3001,-74.1663,78.84,72,0,5.75,US,1661489579,Colts Neck Inn Hotel
330,Cleveland,41.4995,-81.6954,72.70,80,0,5.75,US,1661489527,Hilton Cleveland Downtown
334,Mayo,38.8876,-76.5119,78.94,85,0,3.44,US,1661489607,Pirates Cove Restaurant and Dock Bar
349,Ürümqi,43.8010,87.6005,70.75,31,0,2.24,CN,1661489521,Sheraton Urumqi Hotel
350,Chalmette,29.9427,-89.9634,79.00,84,0,5.75,US,1661489613,Best Western Plus Chalmette Hotel
358,Hūn,29.1268,15.9477,76.50,57,0,4.09,LY,1661489616,Al Nakhel Hotel
366,Snyder,32.7179,-100.9176,79.14,47,0,5.75,US,1661489568,Hampton Inn Snyder
368,Morinville,53.8001,-113.6520,70.48,63,0,6.91,CA,1661489619,Morinville Plaza & Suites
404,Palmer,42.1584,-72.3287,73.81,81,0,0.00,US,1661489632,The Trainmaster's Inn
408,Derzhavīnsk,51.1000,66.3167,73.81,45,0,5.14,KZ,1661489633,Gostinitsa Galaktika
432,Charter Township of Clinton,42.5870,-82.9199,73.72,89,0,6.91,US,1661489443,Hampton Inn Detroit/Roseville
443,Darnah,32.7670,22.6367,76.82,72,0,8.23,LY,1661489646,فندق الفردوس
482,Lodi,38.1302,-121.2725,78.73,57,0,1.99,US,1661489661,Hampton Inn & Suites Lodi
494,Marsá Maţrūḩ,31.3525,27.2453,77.45,68,0,3.11,EG,1661489655,Beau Site
497,Tripoli,32.8752,13.1875,78.85,65,0,7.58,LY,1661489666,Radisson Blu Al Mahary Hotel

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
## api day 3 activity 6

# Customize the size of the figure
figure_layout = {
    'width': '1920px',
    'height': '1080px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout = figure_layout)
# Assign the marker layer to a variable
#https://jupyter-gmaps.readthedocs.io/en/latest/api.html
marker = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add the layer to the map
fig.add_layer(marker)
fig

Figure(layout=FigureLayout(border='1px solid black', height='1080px', margin='0 auto 0 auto', padding='1px', w…